.mobile-menu {
  position: fixed;
  top: 0;
  right: 0;
  width: 360px;
  height: 640px;
  background-color: var(--color-primary-light);
  transform: translateX(100%);
  transition: 0.3s;

  &.is-open {
    transform: translateX(0);
    transition: 0.3s;
    z-index: 2;
    max-width: 360px;
    right: 0;

  &::after {
      position: absolute;
      background-repeat: no-repeat;
      bottom: 0;
      content: '';
    }
    
    &::after {
      width: 180px;
      height: 240px;
      right: 0;
      top: 410px;
      background-image: url('/Genius-course/images/decor-bread-modal.png');
    }
  }

  &__btn-close {
    position: absolute;
    width: 24px;
    height: 24px;
    top: 16px;
    right: 24px;
    border: none;
    padding: 0;
    cursor: pointer;
  }

  &__icon-close {
    background-color: var(--color-primary-light);
    fill: none;
  }

  &__container {
    display: flex;
    flex-direction: column;
    margin-top: 16px;
    margin-left: 24px;
    top: 16px;
    left: 24px;
    gap: 18px;
  }

  &__nav {
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    max-width: 103px;
    gap: 32px;
  }

  &__logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: var(--color-primary-dark);
    width: 72px;
    height: 38px;
    gap: 18px;
    flex-grow: 1;
    font-size: 14px;
    font-weight: 300;
  }

  &__menu {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    flex-grow: 1;
    font-size: 14px;
    font-weight: 300;
  }

  &__link {
    color: var(--color-primary-dark);
    text-decoration: none;
  }

  &__link:hover {
    color: var(--color-brand-normal);
    font-weight: 600;
  }
}
