.backdrop {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(49, 38, 26, 0.4);
  transition: opacity 0.3s, visibility 0.3s;

  &.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }
}

.modal {
  position: relative;
  overflow-y: auto;
  padding: 128px;
  width: 100%;
  max-width: 880px;
  height: 100%;
  max-height: 880px;
  background-color: var(--color-primary-light);
  border-radius: 32px;

  &__btn-close {
    position: absolute;
    right: 40px;
    top: 40px;
  }

  &__form-field {
    margin-bottom: 32px;
  }

  &__button {
    display: block;
    margin: 0 auto 24px;
    padding: 16px 32px;
    color: var(--color-primary-light);
    font-weight: 600;
    background-color: var(--color-brand-normal);
    border: 2px solid var(--color-brand-normal);
    border-radius: 8px;
    cursor: pointer;
  }
}
